.custom-navbar{
    background:#ffffff;
    padding:18px 0;
    box-shadow:0 4px 25px rgba(0,0,0,0.06);
    transition:0.3s ease;
}

.logo{
    font-size:5rem;
    font-weight:800;
    text-decoration:none;
    color:#111827;
    letter-spacing:1px;
    transition:all 0.3s ease;
    position:relative;
}

.logo span{
    color:#25a3eba1;
}

.logo:hover{
    transform:scale(1.05);
    color:#2563eb;
}

.logo::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:5px;
    background:#2563eb;
    border-radius:10px;
    transition:0.4s;
}

.logo:hover::after{
    width:100%;
}

.navbar-nav{
    align-items:center;
}

.navbar-nav .nav-link{
    color:var(--text);
    font-weight:600;
    margin-left:25px;
    position:relative;
    transition:0.3s ease;
}

.navbar-nav .nav-link:hover{
    color:var(--primary);
}

.navbar-nav .nav-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:var(--primary);
    transition:0.3s;
}

.navbar-nav .nav-link:hover::after{
    width:100%;
}

.navbar-toggler{
    border:none;
    box-shadow:none !important;
}

.navbar-toggler:focus{
    box-shadow:none !important;
}