.services-section{
    padding:55px 0;
    background:#fff;
}

.service-card{
    background:#f7f8edab;
    border:0px solid #e5e7eb;
    border-radius:20px;
    padding:30px;
    height:100%;
    transition:.3s;
    box-shadow:0 5px 20px rgba(0,0,0,.04);
}

.service-card:hover{
    transform:translateY(-8px);
}

.service-card h4{
    margin-bottom:15px;
    font-weight:600;
}

.service-card p{
    color:#64748b;
}